.name {
    margin: 5px;
    width: calc(50% - 10px);
    float: left;
}

.details1 {
    margin: 5px;
    width: calc(25% - 10px);
    float: left;
}

.details2 {
    margin: 5px;
    width: calc(25% - 10px);
    float: left;
}


.listView .header,
.listView .footer {
    padding: 10px;
    background-color: #333;
}


.basicToolbar {
    width: 100%;
}


.datepicker, .day {
    border-radius: 0px !important;
}

.win-listview {
    height: calc(100%- 95px) !important;
}

#content1 {
    height: calc(100%) !important;
}

#loading {
    display:flex;
    margin:0 auto 0 auto;
}